* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  appearance: none;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
}
header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background-color: teal;
}
#search-city-form {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0px 80px;
  text-align: center;
  gap: 10px;
}
